# How to get UI dataset

In [1]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
import numpy as np
import pandas as pd
from torch.utils.data import Dataset
import torch.nn as nn
import torch
import joblib
import os

#tf denpendencies
import tensorflow as tf
from tensorflow.keras.models import Sequential,Model
from tensorflow.keras.layers import Dense, LSTM,Dropout,Activation,Input,Bidirectional
from tensorflow.keras.optimizers import Adagrad, Adam, SGD, RMSprop
from tensorflow.keras.models import load_model,save_model
from tensorflow.keras.utils import plot_model,to_categorical

#plotly
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
#google drive
from google.colab import drive
drive.mount('/content/gdrive')

!pip install scikit-tensor-py3
from sktensor import dtensor
# !pip install pyngrok
# from pyngrok import ngrok

Mounted at /content/gdrive
Collecting scikit-tensor-py3
  Downloading https://files.pythonhosted.org/packages/33/91/28aa13c7c056c37d53677881cdff1c7e8da097aea5c0e4cb4faafb44ce4f/scikit_tensor_py3-0.4.1-py3-none-any.whl (48kB)
     |████████████████████████████████| 51kB 3.4MB/s
Collecting scipy==1.3.*
  Downloading https://files.pythonhosted.org/packages/54/18/d7c101d5e93b6c78dc206fcdf7bd04c1f8138a7b1a93578158fa3b132b08/scipy-1.3.3-cp36-cp36m-manylinux1_x86_64.whl (25.2MB)
     |████████████████████████████████| 25.2MB 2.0MB/s
Collecting numpy==1.16.*
  Downloading https://files.pythonhosted.org/packages/90/b1/ba7e59da253c58aaf874ea790ae71d6870255a5243010d94688c41618678/numpy-1.16.6-cp36-cp36m-manylinux1_x86_64.whl (17.4MB)
     |████████████████████████████████| 17.4MB 254kB/s
ERROR: umap-learn 0.4.6 has requirement numpy>=1.17, but you'll have numpy 1.16.6 which is incompatible.
ERROR: tensorflow 2.3.0 has requirement scipy==1.4.1, but you'll have scipy 1.3.3 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy, scipy, scikit-tensor-py3
  Found existing installation: numpy 1.18.5
    Uninstalling numpy-1.18.5:
      Successfully uninstalled numpy-1.18.5
  Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
Successfully installed numpy-1.16.6 scikit-tensor-py3-0.4.1 scipy-1.3.3

In [3]:
# Load raw train data
file_path_test = '/content/gdrive/My Drive/COMP5703/Dataset/[1109]TrainData_adjusted.csv'
# https://drive.google.com/file/d/1gJTFdyq_yfRK1-PD3Y_S-UkDJIrseBVu/view?usp=sharing
cols = ['id', 'userId', 'gender', 'sport',
          'calories', 'Route_id', 'distance_adjusted_sum','altitude_adjusted','distance_adjusted','speed_adjusted','heart_rate_adjusted','derived_speed','distance_adjusted_sum','longitude','latitude']
df = pd.read_csv(file_path_test, usecols=cols)
df.rename(columns={'speed_adjusted': 'speed','altitude_adjusted':'altitude','distance_adjusted':'derived_distance','heart_rate_adjusted':'heart_rate'},inplace=True)

In [4]:
# Load raw test data
file1_path_test = '/content/gdrive/My Drive/COMP5703/Dataset/[1109]TestData_adjusted.csv'
# https://drive.google.com/file/d/1-4WQdpOogRog7Jg_sP5SrOb802UTqpGc/view?usp=sharing
df1 = pd.read_csv(file1_path_test, usecols=cols)
df1.rename(columns={'speed_adjusted': 'speed','altitude_adjusted':'altitude','distance_adjusted':'derived_distance','heart_rate_adjusted':'heart_rate'},inplace=True)

In [5]:
# Combination
df = pd.concat( [df, df1], axis=0 )
print(len(df))

62831

In [6]:
# Define a fuction to find top 2 sport id to insert username
def get_top2id(df, gender, sporttype):
  df_new = df[(df['gender'] == gender) & (df['sport']==sporttype)]
  d1 = df_new.userId.value_counts()
  x1 = d1.index[:2].tolist()
  return df_new, x1

In [7]:
d1, male_runid = get_top2id(df, 'male', 'run')
d2, male_bikeid = get_top2id(df, 'male', 'bike')
d3, male_mountainbikeid = get_top2id(df, 'male', 'mountain bike')
d4, female_runid = get_top2id(df, 'female', 'run')
d5, female_bikeid = get_top2id(df, 'female', 'bike')
d6, female_mountain_bikeid = get_top2id(df, 'female', 'mountain bike')

In [8]:
# We found top 2 id in female mountain bike has been overlapped, so manually adjusted
d6 = df[df['gender'] == 'female']
d6 = d6[d6['sport'] == 'mountain bike']
d6_1 = d6.userId.value_counts()
x6_1 = d6_1.index[1:2].tolist()
x6_2 = d6_1.index[3:4].tolist()
female_mountain_bikeid = x6_1+x6_2
print(female_mountain_bikeid)

[6892365, 4203888]

In [9]:
# Combination of dictionary
sport_id_dict = male_runid+male_bikeid+male_mountainbikeid+female_runid+female_bikeid+female_mountain_bikeid

In [10]:
sport_id_dict

[1063624,
 860533,
 3714939,
 9051351,
 171814,
 58536,
 368603,
 7178673,
 240120,
 4164701,
 6892365,
 4203888]

In [11]:
# Give 12 different user names by gender
names= ['Bruce','Christian','Dennis','Elton','Franklin','George','Catherine','Emma','Judy','Milly','Serena','Wendy']

In [12]:
# Get user_id - name
dictionary = dict(zip(sport_id_dict, names))
print(dictionary)

{1063624: 'Bruce', 860533: 'Christian', 3714939: 'Dennis', 9051351: 'Elton', 171814: 'Franklin', 58536: 'George', 368603: 'Catherine', 7178673: 'Emma', 240120: 'Judy', 4164701: 'Milly', 6892365: 'Serena', 4203888: 'Wendy'}

In [13]:
df = df.loc[df['userId'].isin(sport_id_dict)]
df['name'] = df['userId'].map(dictionary)
print(len(df))

4500

In [14]:
df

              id   userId  ... distance_adjusted_sum    name
8      236905945  9051351  ...             40.340000   Elton
20     590102440    58536  ...             30.650000  George
57     304833487  3714939  ...             15.390000  Dennis
89     509658142  4203888  ...             33.750000   Wendy
110    421509608  4164701  ...              6.860000   Milly
...          ...      ...  ...                   ...     ...
12534  234772370  9051351  ...             36.771399   Elton
12544  443682294    58536  ...             27.408731  George
12548  567079210  1063624  ...             15.903519   Bruce
12549  198268823  1063624  ...              9.143248   Bruce
12560  105169953  1063624  ...             25.260036   Bruce

[4500 rows x 15 columns]

## Get dict function

In [15]:
# Define a function for users who have exercised on more than 1 route
def get_dic(df, Routeid, uid, cityname):
  df1 = df[df['userId'] == uid]
  k = df1[df1['Route_id']==Routeid]
  df_newgen = k.drop_duplicates(subset='distance_adjusted_sum')
  df_newgen = df_newgen.reset_index(drop=True)
  a = []
  for i in range(len(df_newgen)):
    a.append(cityname + str(round(df_newgen['distance_adjusted_sum'][i],2)))
  df_newgen['city'] = a
  dict1 = df_newgen.groupby('id')['city'].apply(list).to_dict()
  return dict1

In [16]:
# Define a function for users who have exercised on only 1 route
def get_singdic(df, uid, cityname):
  df1 = df[df['userId'] == uid]
  df_newgen = df1.drop_duplicates(subset='distance_adjusted_sum')
  df_newgen = df_newgen.reset_index(drop=True)
  a = []
  for i in range(len(df_newgen)):
    a.append(cityname + str(round(df_newgen['distance_adjusted_sum'][i],2)))
  df_newgen['city'] = a
  dict1 = df_newgen.groupby('id')['city'].apply(list).to_dict()
  return dict1

# Run dict

The citynames where 12 users’ routes are located has been found through Google Maps outside. The dictionary will be named through ‘city-country_total route distance ’

In [17]:
dic1 = get_dic(d1, 11, 860533, 'Pretoria-ZA_')
dic2 = get_dic(d1, 10, 860533, 'Cape town-ZA_')
dic3 = get_dic(d1, 8, 1063624, 'Prešov-SVK_')
dic4 = get_dic(d1, 9, 1063624, 'Prešov-SVK_')
dic5 = get_dic(d1, 10, 1063624, 'Prešov-SVK_')
dic6 = get_dic(d1, 11, 1063624, 'Vysoké-SVK_')
dic7 = get_dic(d1, 12, 1063624, 'Prešov-SVK_')
dic8 = get_dic(d1, 13, 1063624, 'Prešov-SVK_')
dic9 = get_dic(d4, 10, 368603, 'Guyancourt-FR_')
dic10 = get_dic(d4, 12, 368603, 'Guyancourt-FR_')
dic11 = get_dic(d4, 9, 368603, 'Versailles-FR_')
dic12 = get_dic(d4, 13, 368603, 'Versailles-FR_')
dic13 = get_dic(d4, 10, 7178673, 'Varde-DK_')
dic14 = get_dic(d4, 12, 7178673, 'Varde-DK_')

In [18]:
run_dic = {**dic1, **dic2, **dic3, **dic4, **dic5, **dic6, **dic7, **dic8, **dic9, **dic10, **dic11, **dic12, **dic13, **dic14 }

In [19]:
print(len(run_dic))

1626

# Bike dict

In [20]:
dic2_1 = get_singdic(d2, 3714939, 'PNTH-NZL_')
dic2_2 = get_dic(d2, 2, 9051351, 'New Jersey-USA_')
dic2_3 = get_dic(d2, 1, 9051351, 'Nebraska-USA_')
dic2_4 = get_singdic(d5, 240120, 'Dallas-USA_')
dic2_5 = get_singdic(d5, 4164701, 'Tavira-Portugal_')

In [21]:
Bike_dic = {**dic2_1, **dic2_2, **dic2_3, **dic2_4, **dic2_5}

In [22]:
print(len(Bike_dic))

1363

# Mountain bike dict

In [23]:
dic3_1 = get_dic(d3, 5, 171814, 'Gjøvik-NO_')
dic3_2 = get_dic(d3, 7, 171814, 'Gjøvik-NO_')
dic3_3 = get_dic(d3, 5, 58536, 'Hørsholm-DK_')
dic3_4 = get_dic(d3, 7, 58536, 'Hørsholm-DK_')
dic3_5 = get_singdic(d6, 6892365, 'Krubin-PL_')
dic3_6 = get_singdic(d6, 4203888, 'Hillerød-DK_')

In [24]:
Mountainbike_dic = {**dic3_1, **dic3_2, **dic3_3, **dic3_4, **dic3_5, **dic3_6}

In [25]:
print(len(Mountainbike_dic))

448

# Total dictionary

In [27]:
dic_whole = {**run_dic, **Bike_dic, **Mountainbike_dic}

In [28]:
print(len(dic_whole))

3437

In [ ]:
dic_whole

# New_df

In [30]:
df['city'] = df['id'].map(dic_whole)

In [31]:
df2 = df.dropna(subset=['city'])

In [32]:
df2

              id   userId  ...       name                  city
8      236905945  9051351  ...      Elton  [Nebraska-USA_40.34]
57     304833487  3714939  ...     Dennis      [PNTH-NZL_15.39]
111    580993447   860533  ...  Christian    [Pretoria-ZA_8.47]
117    196324896   171814  ...   Franklin     [Gjøvik-NO_23.95]
120     86613071  3714939  ...     Dennis      [PNTH-NZL_15.07]
...          ...      ...  ...        ...                   ...
12534  234772370  9051351  ...      Elton  [Nebraska-USA_36.77]
12544  443682294    58536  ...     George   [Hørsholm-DK_27.41]
12548  567079210  1063624  ...      Bruce     [Prešov-SVK_15.9]
12549  198268823  1063624  ...      Bruce     [Prešov-SVK_9.14]
12560  105169953  1063624  ...      Bruce    [Prešov-SVK_25.26]

[3437 rows x 16 columns]

In [34]:
# Save the UI dataset
df2.to_csv('UI_test.csv', index = False)